body {
  background-image: url("https://i.imgur.com/Ej48MNs.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 14px;
}


.error {
  margin: 10;
  padding: 5;
  color: rgb(238, 62, 62);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: minmax(300px auto);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.add{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display:grid;
  grid-column: 1/3;
  grid-row: 2/3;
} 
  .add > div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
  }  

  .addU {
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .addMid {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .addD {
    grid-column: 1/3;
    grid-row: 2/4;
  }

.headline2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(11, 31, 41);
  text-align: center;
  grid-column: 1/3;
  grid-row: 1/2;
}

.listing {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(11, 31, 41);
  grid-column: 3/5;
  grid-row: 1/3;
}

  .listing > div{
    display:grid;
    grid-template-columns: 3fr 1fr ;
    grid-row-gap: 1em;
    border: groove;
  }

  .subinsideA {
    background-color: rgb(178, 220, 248);
    grid-column: 1/3;
    grid-row: minmax(auto);
    padding: 1em;
  }

  .subinsideL {
    background-color: rgb(178, 220, 248);
    grid-column: 1/2;
    grid-row: minmax(auto);
    padding: 1em;
  }

  .subinsideR {
    background-color: rgb(178, 220, 248);
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: minmax(auto);
    padding: 1em;
}


/*  Login page  */

.login {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 130%;
  display:grid;
  color: rgb(11, 31, 41);
  background-size: cover;
  grid-template-columns: 2fr 2fr 3fr 2fr 2fr ;
  grid-template-rows: minmax(100px auto);
  grid-gap: 5px;
}


.middlebox {
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: center;
}



.button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(156, 205, 238);
  border: groove;
  color:rgb(15, 39, 44);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.headline1 {
  text-align: center;
  text-decoration-style: solid;
  text-decoration-color: rgb(140, 200, 240);
  grid-column: 3/4;
  grid-row: 1;
}

.underHeadline {
  text-align: center;
  grid-column: 3/4;
  grid-row: 2;
}





